<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/810690029847969833/852725463977295882/821475732177944601.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dudu/profile.css') }}">
    <script src="{{ url_for('static', filename='javaScript/dudu/title.js') }}"></script>
    <script src="{{ url_for('static', filename='javaScript/dudu/red.js') }}"></script>
    <script src="{{ url_for('static', filename='javaScript/urls.js') }}"></script>
    <title>duduzinho</title>
</head>
<body>
    <div class="avatar">
        <img id="dudu" src="https://cdn.discordapp.com/embed/avatars/3.png?size=260" alt="dudu avatar">
        
        <div id="name">
            <span class="name">Dudu#9656</span>
            <input id="copiar" type="button" value="Copiar" onclick="copyText()">
        </div>
    </div>
    <div class="div-button first"><input class="blue" type="button" onclick="redFriends()" value="Friends"></input></div>
</body>
<script>
    getIcons()
    titleLoop()
</script>
</html>