<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/810690029847969833/852725463977295882/821475732177944601.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dudu/friends.css') }}">
    <script src="{{ url_for('static', filename='javaScript/dudu/friends-title.js') }}"></script>
    <script src="{{ url_for('static', filename='javaScript/urls.js') }}"></script>
    <title>amiguinhos do dudu</title>
</head>
<body id="friends-body">
    <h1>AMIGUINHOS</h1>

    <ul>
        <li class="amiguinho">
            <div class="area-amg">
                <img id="ka" src="https://cdn.discordapp.com/embed/avatars/3.png?size=260" alt="ka">
                <h2>Ka</h2>
                <p>O ka é um dos fodões que eu chamaria de amigo. Sempre comigo nas calls (tanto conversando quanto fazendo GF) e é um dos que eu não largaria de jeito nenhum. </p>
                <div class="clear"></div>
            </div>
        </li>

        <li class="amiguinho">
            <div class="area-amg">
                <img id="bruno" src="https://cdn.discordapp.com/embed/avatars/3.png?size=260" alt="bruno">
                <h2>Bruno</h2>
                <p>O brunão é a porra da definição de FODA. Ele sempre tá aqui com a gente, preparado pro que der e vier. O cara mais pika que já pisou nessa terra. Te amo brunão. </p>
                <div class="clear"></div>
            </div>
        </li>

        <li class="amiguinho">
            <div class="area-amg">
                <img id="lin" src="https://cdn.discordapp.com/embed/avatars/3.png?size=260" alt="lin">
                <h2>Lin</h2>
                <p>O lin é o jogador de mine pegador de molieres do grupo. A quantidade de mulheres que esse cara pega é que nem as kills dele no sky wars, desconhecida. Ele é um dos caras que eu não largaria também. </p>
                <div class="clear"></div>
            </div>
        </li>

        <li class="amiguinho">
            <div class="area-amg">
                <img id="andri" src="https://cdn.discordapp.com/embed/avatars/3.png?size=260" alt="andri">
                <h2>Andri</h2>
                <p>O andri é o cara dos esquemas de nitro, só esse aí fez umas 15 contas estuprando o dinheiro da epic games. O discord botou confirmação de cartão por culpa dele. </p>
                <div class="clear"></div>
            </div>
        </li>
    </ul>
</body>
<script>
    getIcons()
    titleLoop()
</script>
</html>