<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/810690029847969833/852725463977295882/821475732177944601.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/ka/friends.css') }}">
    <script src="{{ url_for('static', filename='javaScript/ka/friends-title.js') }}"></script>
    <script src="{{ url_for('static', filename='javaScript/urls.js') }}"></script>
    <title>amiguinhos do ka</title>
</head>
<body id="friends-body">
    <h1>AMIGUINHOS</h1>

    <ul>
        <li>
            <div class="area-amg">
                <img id="lanna" src="https://cdn.discordapp.com/embed/avatars/3.png?size=260" alt="lanna">
                <h2>Lanna</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dolore cupiditate architecto consectetur quisquam aliquam ea, vero cum.</p>
                <div class="clear"></div>
            </div>
        </li>

        <li>
            <div class="area-amg">
                <img id="gibs" src="https://cdn.discordapp.com/embed/avatars/3.png?size=260" alt="gibs">
                <h2>Gib's</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dolore cupiditate architecto consectetur quisquam aliquam ea, vero cum.</p>
                <div class="clear"></div>
            </div>
        </li>

        <li>
            <div class="area-amg">
                <img id="sayu" src="https://cdn.discordapp.com/embed/avatars/3.png?size=260" alt="sayu">
                <h2>Sayu</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dolore cupiditate architecto consectetur quisquam aliquam ea, vero cum.</p>
                <div class="clear"></div>
            </div>
        </li>
    </ul>
</body>
<script>
    getIcons()
    titleLoop()
</script>
</html>