<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/810690029847969833/852725463977295882/821475732177944601.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/ka/profile.css') }}">
    <script src="{{ url_for('static', filename='javaScript/ka/title.js') }}"></script>
    <script src="{{ url_for('static', filename='javaScript/ka/red.js') }}"></script>
    <script src="{{ url_for('static', filename='javaScript/urls.js') }}"></script>
    <title>kazinho</title>
</head>
<body>
    <div class="avatar">
        <img id="ka" src="https://cdn.discordapp.com/embed/avatars/3.png?size=260" alt="ka avatar">
        
        <div id="name">
            <span class="name">Ka#0001</span>
            <input id="copiar" type="button" value="Copiar" onclick="copyText()">
        </div>
    </div>
    <div class="div-button first"><input class="blue" type="button" onclick="redFriends()" value="Friends"></a></input></div>
    <div class="div-button"><input class="red" type="button" onclick="redYoutube()" value="Youtube"></input></div>
    <div class="div-button"><input class="gray" type="button" onclick="redGithub()" value="GitHub"></input></div>
</body>
<script>
    getIcons()
    titleLoop()
</script>
</html>